header{
    min-height: 120px;
    .header-stripe{
        min-height: 20px;
        background-color: $main-blue;
    }
    .nav-wrapper{
        height: 160px;
        nav{
            display: flex;
            justify-content: space-between;
            height: 160px;
            .main-nav-logo{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .nav-list{
                display: flex;
                align-items: center;
                justify-content: center;
                ul{
                    display: flex;
                    li{
                        padding: 0;
                        margin: 0 0.6rem;
                        a{
                            padding: 50% 8px;
                            color: #000;
                            text-decoration: none;
                            &:hover{
                                color: $main-blue;
                            }
                        }
                    }
            }
            }
            .input-wrapper{
                border-bottom: 2px solid $main-blue;
            }
            input{
                border: none;
                padding: 1.1rem 0;
                &:active{
                    border: none;
                }
            }
        }
    }
}

/*! jumbotron*/
.jumbo-wrapper{
    min-height: 500px;
    background-image: url(/img/jumbotron.jpg);
    background-position: top center;
}


/*bottom jumbo */
.bottom-main-wrapper{
    height: 450px;
    background-image: url(./img/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        display: flex;
        justify-content: space-between;
        .list-wrapper{
            display: flex;
            ul{
                margin: 0 20px;
                height: fit-content;
            }
            h2{
                color: white;
                margin-bottom: 0.9rem;
            }
            li{
                color : rgb(161, 161, 161);
                font-size: 0.8rem;
            }
        }
        .img-wrapper{
            height: 450px;
        }
        img{
            max-height: 100%;
        }
    }
}
/* footer social links*/
footer{
    background-color: #303030;
    height: 180px;
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
        padding-top: 75px;
        .left{
            a{
                border: 2px solid $main-blue;
                color: white;
                padding: 20px;
                &:hover{
                    border-color: white;
                    cursor: pointer;
                }
            }
        }
        .right{
            display: flex;
            h2{
                color: $main-blue;
                margin: 0 0.5rem;
                &:hover{
                    color: white;
                    cursor: pointer;
                }
            }
            img{
                margin: 0 0.5rem;
                cursor: pointer;
            }
        }
    }
}